[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ExportedObj/
Assets/UnityVS
Assets/UnityVS.meta

*.pidb
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.DotSettings
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sysinfo.txt
